<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>首页</title>
    <link href="/static/bootstrap.min.css" media="all" rel="stylesheet">
    <link href="/static/styles.css" media="all" rel="stylesheet">
    <style>
        .card {
            top: 40px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 40%;
            border-radius: 5px;
            margin-left: 20%;
            width: 60%;
            background-color: white;
            height: 150px;
            padding: 36px;
            margin-top: 50px;
        }

        .card:hover {
            box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
        }

        .card .container {
            padding: 2px 16px;
        }

        .timelinea {
            font-size: 50px;
            margin-top: 90px;
            line-height: 75px;
        }
    </style>
</head>

<body id="body">
    <% for(let i in info){ %>
    <div class="card">
        <a class="timelinea" href='/timeline/<%= i %>'><%= info[i].title?info[i].title:info[i].bag %>
    </div>
    <% } %>
    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
</body>

</html>